@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 235, 227);
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(255, 255, 255);
  max-width: 620px;
  max-height: 450px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.card section {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

picture {
  width: 100%;
}

picture img {
  width: 100%;
}

.card section:last-child {
  padding: 2%;
}

h1 {
  font-family: 'Fraunces';
  font-size: 2rem;
  line-height: 2.1rem;
  color: rgb(28, 35, 43);
  padding: 7%;
}

span {
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: rgb(108, 114, 137);
  padding: 7% 7% 3%;
}

p {
  color: rgb(108, 114, 137);
  font-size: 0.87rem;
  line-height: 1.5rem;
  padding: 0 7.5%;
}

.card__content__prices {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7%;
  width: 80%;
}

.card__content__prices h2 {
  font-family: 'Fraunces';
  color: rgb(60, 128, 103);
}

.card__content__prices p {
  text-decoration:  line-through;
}

.card__content a {
  background-color: rgb(60, 128, 103);
  border-radius: 8px;
  text-align: center;
  padding: .8rem;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  display: block;
  width: 85%;
  margin: auto;
  transition: background-color .3s ease-in-out;
}

.card__content a::before {
  content: url('./images/icon-cart.svg');
  vertical-align: -20%;
  margin-right: .8rem;
}

.card__content a:hover {
  background-color: rgb(23, 53, 42);
}

@media screen and (max-width: 620px){
  main {
    padding: 1.7rem .05rem;
  }
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-height: 100%;
    max-width: 370px;
  }

  .card section {
    width: 100%;
    height: 50%; 
  }

  .picture {
    max-height: 40%;
  }

  span, h1, .card__content p, .card__content__prices {
    padding: 2% 4%;
  }

  .card__content p {
    max-width: 320px;
    overflow-wrap: break-word;
  }

  .card__content__prices {
    max-width: 65%;
  }

  .card__content a {
    width: 92%;
    margin: 1.2rem auto;
  }
}
